Repository team-urbanlife/back-end, pull requests merged in 2024-10, with the labels that each got.

#66 [Feature] S3 이미지 업로드 구현
  .github/workflows/wegotoo_dev.yml
  .gitignore
  build.gradle
  src/docs/asciidoc/api/s3/s3.adoc
  src/docs/asciidoc/index.adoc
  src/main/java/com/wegotoo/api/s3/S3Controller.java
  src/main/java/com/wegotoo/application/s3/S3Service.java
  src/main/java/com/wegotoo/config/S3Config.java
  src/main/java/com/wegotoo/config/SecurityConfig.java
  src/main/java/com/wegotoo/exception/ErrorCode.java
  src/main/java/com/wegotoo/infra/s3/S3Manager.java
  src/main/resources/application-local.yml
  src/main/resources/application.yml
  src/test/java/com/wegotoo/WegotooApplicationTests.java
  src/test/java/com/wegotoo/api/ControllerTestSupport.java
  src/test/java/com/wegotoo/api/s3/S3ControllerTest.java
  src/test/java/com/wegotoo/application/ServiceTestSupport.java
  src/test/java/com/wegotoo/application/s3/S3ServiceTest.java
  src/test/java/com/wegotoo/docs/RestDocsSupport.java
  src/test/java/com/wegotoo/docs/s3/S3ControllerDocs.java
  src/test/java/com/wegotoo/support/ControllerWebMvcTest.java
  src/test/resources/application.yml
Labels: ✨ Feature

#68 [Feature] 채팅 조회 API 기능 추가
  src/docs/asciidoc/api/chat/chat.adoc
  src/docs/asciidoc/index.adoc
  src/main/java/com/wegotoo/api/chat/ChatController.java
  src/main/java/com/wegotoo/api/chat/request/ChatSendRequest.java
  src/main/java/com/wegotoo/application/CursorResponse.java
  src/main/java/com/wegotoo/application/IdType.java
  src/main/java/com/wegotoo/application/chat/ChatService.java
  src/main/java/com/wegotoo/application/chat/request/ChatSendServiceRequest.java
  src/main/java/com/wegotoo/application/chat/response/ChatResponse.java
  src/main/java/com/wegotoo/domain/chat/repository/ChatRepositoryCustom.java
  src/main/java/com/wegotoo/domain/chat/repository/ChatRepositoryImpl.java
  src/main/java/com/wegotoo/domain/user/Users.java
  src/test/java/com/wegotoo/api/ControllerTestSupport.java
  src/test/java/com/wegotoo/api/chat/ChatControllerTest.java
  src/test/java/com/wegotoo/application/chat/ChatServiceTest.java
  src/test/java/com/wegotoo/docs/RestDocsSupport.java
  src/test/java/com/wegotoo/docs/chat/ChatControllerDocs.java
  src/test/java/com/wegotoo/domain/chat/repository/ChatRepositoryImplTest.java
  src/test/java/com/wegotoo/support/ControllerWebMvcTest.java
Labels: ✨ Feature

#71 [Feature] 여행 게시글 수정 API 구현
  src/docs/asciidoc/api/post/post.adoc
  src/main/java/com/wegotoo/api/post/PostController.java
  src/main/java/com/wegotoo/api/post/request/ContentEditRequest.java
  src/main/java/com/wegotoo/api/post/request/PostEditRequest.java
  src/main/java/com/wegotoo/application/post/PostService.java
  src/main/java/com/wegotoo/application/post/request/ContentEditServiceRequest.java
  src/main/java/com/wegotoo/application/post/request/PostEditServiceRequest.java
  src/main/java/com/wegotoo/domain/post/Content.java
  src/main/java/com/wegotoo/domain/post/Post.java
  src/main/java/com/wegotoo/domain/post/repository/ContentRepository.java
  src/main/java/com/wegotoo/domain/post/repository/PostRepository.java
  src/main/java/com/wegotoo/domain/user/User.java
  src/main/java/com/wegotoo/exception/ErrorCode.java
  src/test/java/com/wegotoo/api/post/PostControllerTest.java
  src/test/java/com/wegotoo/application/post/PostServiceTest.java
  src/test/java/com/wegotoo/docs/post/PostControllerDocs.java
Labels: 📃 Docs, ✨ Feature, ✅ Test

#74 [Refactor] SSE 네이밍 변경
  src/main/java/com/wegotoo/application/chat/ChatService.java
  src/main/java/com/wegotoo/application/event/ChatMessageSentEvent.java
  src/main/java/com/wegotoo/application/event/ChatMessageSentEventListener.java
  src/main/java/com/wegotoo/application/notification/NotificationService.java
  src/test/java/com/wegotoo/application/notification/NotificationServiceTest.java
Labels: 🔨 Refactor

#75 [Feature] 사용자 동행 게시글 조회 API 구현
  src/docs/asciidoc/api/accompany/accompany.adoc
  src/main/java/com/wegotoo/api/accompany/AccompanyController.java
  src/main/java/com/wegotoo/application/accompany/AccompanyService.java
  src/main/java/com/wegotoo/domain/accompany/repository/AccompanyRepositoryCustom.java
  src/main/java/com/wegotoo/domain/accompany/repository/AccompanyRepositoryImpl.java
  src/test/java/com/wegotoo/api/accompany/AccompanyControllerTest.java
  src/test/java/com/wegotoo/application/accompany/AccompanyServiceTest.java
  src/test/java/com/wegotoo/docs/accompany/AccompanyControllerDocs.java
  src/test/java/com/wegotoo/domain/accompany/repository/AccompanyRepositoryImplTest.java
Labels: 📃 Docs, ✨ Feature, ✅ Test

#76 [Feature] 여행 게시글 조회 API 구현
  src/docs/asciidoc/api/accompany/accompany.adoc
  src/docs/asciidoc/api/post/post.adoc
  src/main/java/com/wegotoo/api/post/PostController.java
  src/main/java/com/wegotoo/application/post/PostService.java
  src/main/java/com/wegotoo/application/post/response/PostFindAllResponse.java
  src/main/java/com/wegotoo/domain/post/repository/ContentRepository.java
  src/main/java/com/wegotoo/domain/post/repository/PostRepository.java
  src/main/java/com/wegotoo/domain/post/repository/querydsl/ContentRepositoryCustom.java
  src/main/java/com/wegotoo/domain/post/repository/querydsl/ContentRepositoryImpl.java
  src/main/java/com/wegotoo/domain/post/repository/querydsl/PostRepositoryCustom.java
  src/main/java/com/wegotoo/domain/post/repository/querydsl/PostRepositoryImpl.java
  src/main/java/com/wegotoo/domain/post/repository/response/ContentImageQueryEntity.java
  src/main/java/com/wegotoo/domain/post/repository/response/ContentTextQueryEntity.java
  src/main/java/com/wegotoo/domain/post/repository/response/PostQueryEntity.java
  src/test/java/com/wegotoo/application/post/PostServiceTest.java
  src/test/java/com/wegotoo/docs/post/PostControllerDocs.java
  src/test/java/com/wegotoo/domain/post/repository/querydsl/ContentRepositoryImplTest.java
  src/test/java/com/wegotoo/domain/post/repository/querydsl/PostRepositoryImplTest.java
Labels: 📃 Docs, ✨ Feature, ✅ Test

#78 [Feature] 여행 게시글 삭제 API 구현
  src/docs/asciidoc/api/post/post.adoc
  src/main/java/com/wegotoo/api/post/PostController.java
  src/main/java/com/wegotoo/application/post/PostService.java
  src/main/java/com/wegotoo/domain/post/repository/ContentRepository.java
  src/test/java/com/wegotoo/docs/post/PostControllerDocs.java
Labels: 📃 Docs, ✨ Feature, ✅ Test

#80 [Bugfix] SSE 수신자 ID 받도록 해결
  src/main/java/com/wegotoo/application/chat/ChatService.java
  src/main/java/com/wegotoo/application/event/ChatMessageSentEvent.java
  src/main/java/com/wegotoo/application/event/ChatMessageSentEventListener.java
  src/main/java/com/wegotoo/application/notification/NotificationService.java
  src/main/java/com/wegotoo/domain/notification/Notification.java
  src/test/java/com/wegotoo/application/chat/ChatServiceTest.java
  src/test/java/com/wegotoo/application/notification/NotificationServiceTest.java
Labels: 🐞 BugFix

#83 [Feature] 여행 게시글 좋아요 API 구현
  src/docs/asciidoc/api/likepost/likepost.adoc
  src/main/java/com/wegotoo/api/like/PostLikeController.java
  src/main/java/com/wegotoo/application/like/PostLikeService.java
  src/main/java/com/wegotoo/application/like/response/PostIds.java
  src/main/java/com/wegotoo/application/post/PostService.java
  src/main/java/com/wegotoo/application/post/response/PostFindAllResponse.java
  src/main/java/com/wegotoo/application/post/response/PostFindOneResponse.java
  src/main/java/com/wegotoo/domain/like/PostLike.java
  src/main/java/com/wegotoo/domain/like/repository/PostLikeRepository.java
  src/main/java/com/wegotoo/domain/post/repository/querydsl/PostRepositoryCustom.java
  src/main/java/com/wegotoo/domain/post/repository/querydsl/PostRepositoryImpl.java
  src/main/java/com/wegotoo/domain/post/repository/response/PostQueryEntity.java
  src/main/java/com/wegotoo/exception/ErrorCode.java
  src/test/java/com/wegotoo/api/ControllerTestSupport.java
  src/test/java/com/wegotoo/application/like/PostLikeServiceTest.java
  src/test/java/com/wegotoo/docs/RestDocsSupport.java
  src/test/java/com/wegotoo/docs/like/PostLikeControllerDocs.java
  src/test/java/com/wegotoo/docs/post/PostControllerDocs.java
  src/test/java/com/wegotoo/support/ControllerWebMvcTest.java
Labels: 📃 Docs, ✨ Feature, ✅ Test

#85 [Feature] 좋아요 게시글 조회 API 구현
  src/docs/asciidoc/api/accompany/accompany.adoc
  src/docs/asciidoc/api/post/post.adoc
  src/main/java/com/wegotoo/api/post/PostController.java
  src/main/java/com/wegotoo/application/post/PostService.java
  src/main/java/com/wegotoo/domain/post/repository/querydsl/PostRepositoryCustom.java
  src/main/java/com/wegotoo/domain/post/repository/querydsl/PostRepositoryImpl.java
  src/test/java/com/wegotoo/api/post/PostControllerTest.java
  src/test/java/com/wegotoo/application/post/PostServiceTest.java
  src/test/java/com/wegotoo/docs/accompany/AccompanyControllerDocs.java
  src/test/java/com/wegotoo/docs/post/PostControllerDocs.java
  src/test/java/com/wegotoo/domain/post/repository/querydsl/PostRepositoryImplTest.java
Labels: 📃 Docs, ✨ Feature, ✅ Test

#87 [Feature] 사용자 정보 조회 API 구현
  src/docs/asciidoc/api/schedule/detailedPlan.adoc
  src/docs/asciidoc/api/user/user.adoc
  src/docs/asciidoc/index.adoc
  src/main/java/com/wegotoo/api/user/UserController.java
  src/main/java/com/wegotoo/application/user/UserService.java
  src/main/java/com/wegotoo/application/user/response/UserResponse.java
  src/test/java/com/wegotoo/api/ControllerTestSupport.java
  src/test/java/com/wegotoo/api/user/UserControllerTest.java
  src/test/java/com/wegotoo/application/user/UserServiceTest.java
  src/test/java/com/wegotoo/docs/RestDocsSupport.java
  src/test/java/com/wegotoo/docs/user/UserControllerDocs.java
  src/test/java/com/wegotoo/support/ControllerWebMvcTest.java
Labels: 📃 Docs, ✨ Feature, ✅ Test

#89 [Refactor] 시큐리티 HTTP 권한 설정
  src/docs/asciidoc/index.adoc
  src/main/java/com/wegotoo/api/schedule/ScheduleController.java
  src/main/java/com/wegotoo/application/schedule/DetailedPlanService.java
  src/main/java/com/wegotoo/application/schedule/ScheduleService.java
  src/main/java/com/wegotoo/application/schedule/response/ScheduleResponse.java
  src/main/java/com/wegotoo/application/schedule/response/TravelPlanResponse.java
  src/main/java/com/wegotoo/config/SecurityConfig.java
  src/main/java/com/wegotoo/domain/schedule/DetailedPlan.java
  src/main/java/com/wegotoo/domain/schedule/repository/querydsl/DetailPlanRepositoryImpl.java
  src/main/java/com/wegotoo/domain/schedule/repository/response/DetailedPlanQueryEntity.java
  src/test/java/com/wegotoo/docs/schedule/ScheduleControllerDocs.java
  src/test/java/com/wegotoo/docs/schedule/ScheduleDetailsControllerDocs.java
Labels: 🔨 Refactor

#91 [Refactor] Redirect 관련 모듈 리팩토링
  src/main/java/com/wegotoo/infra/security/redirect/staregy/AppRedirectStrategy.java
  src/main/java/com/wegotoo/infra/security/redirect/staregy/WebRedirectStrategy.java
  src/main/java/com/wegotoo/infra/security/util/UriUtils.java
Labels: 🔨 Refactor

#93 [Test] Domain 테스트 Support 추가
  src/test/java/com/wegotoo/domain/DataJpaTestSupport.java
  src/test/java/com/wegotoo/domain/DataMongoTestSupport.java
  src/test/java/com/wegotoo/domain/accompany/repository/AccompanyRepositoryImplTest.java
  src/test/java/com/wegotoo/domain/chat/repository/ChatRepositoryImplTest.java
  src/test/java/com/wegotoo/domain/chatroom/repository/UserChatRoomRepositoryImplTest.java
  src/test/java/com/wegotoo/domain/post/repository/querydsl/ContentRepositoryImplTest.java
  src/test/java/com/wegotoo/domain/post/repository/querydsl/PostRepositoryImplTest.java
  src/test/java/com/wegotoo/domain/schedule/repository/DetailPlanRepositoryImplTest.java
  src/test/java/com/wegotoo/domain/schedule/repository/querydsl/ScheduleDetailsRepositoryImplTest.java
  src/test/java/com/wegotoo/domain/schedule/repository/querydsl/ScheduleRepositoryImplTest.java
Labels: ✅ Test
